var authToken = 'DIGEST:eyJhcHBsaWNhdGlvbklkIjoicGhlbml4cnRzLmNvbS1ib2Iud29obCIsImRpZ2VzdCI6Imd1Y2lVTkNEM1FDeUxPaU5CYy9PZjdHTUk1ZUx0N21zcmd2VUdEdEdQcDRLV0xxbzdnazFNUjJkWlIwRmpRWUJNakxuNDFQZ3lRcXhMbE01UmZsd0dBPT0iLCJ0b2tlbiI6IntcImV4cGlyZXNcIjoxNjgwMTk5NDI3ODM4LFwidXJpXCI6XCJodHRwczovL3BjYXN0LnBoZW5peHJ0cy5jb21cIixcInR5cGVcIjpcImF1dGhcIixcInJlcXVpcmVkVGFnXCI6XCJjaGFubmVsSWQ6dXMtc291dGh3ZXN0I3BoZW5peHJ0cy5jb20tYm9iLndvaGwjdGVzdDAxLlJMT2N3aDRyOTBPbVwifSJ9';

var publishToken = 'DIGEST:eyJhcHBsaWNhdGlvbklkIjoicGhlbml4cnRzLmNvbS1ib2Iud29obCIsImRpZ2VzdCI6IlY2Q0djQVhSWVVNdXAzWmsrR3dlVUNRR2RkQ044NTU2NzdwbVpFTGtBMXVqcG92Q3pHc05vWHlnQ3BzN3QvRGJ6RmdQMEQydGhKVEFrNzdGaUl3eHZnPT0iLCJ0b2tlbiI6IntcImV4cGlyZXNcIjoxNjgwMTk5NDI3ODM4LFwidXJpXCI6XCJodHRwczovL3BjYXN0LnBoZW5peHJ0cy5jb21cIixcInR5cGVcIjpcInB1Ymxpc2hcIixcImNhcGFiaWxpdGllc1wiOltcInNkXCJdLFwicmVxdWlyZWRUYWdcIjpcImNoYW5uZWxJZDp1cy1zb3V0aHdlc3QjcGhlbml4cnRzLmNvbS1ib2Iud29obCN0ZXN0MDEuUkxPY3doNHI5ME9tXCJ9In0=';

?authtoken=DIGEST:eyJhcHBsaWNhdGlvbklkIjoicGhlbml4cnRzLmNvbS1ib2Iud29obCIsImRpZ2VzdCI6Imd1Y2lVTkNEM1FDeUxPaU5CYy9PZjdHTUk1ZUx0N21zcmd2VUdEdEdQcDRLV0xxbzdnazFNUjJkWlIwRmpRWUJNakxuNDFQZ3lRcXhMbE01UmZsd0dBPT0iLCJ0b2tlbiI6IntcImV4cGlyZXNcIjoxNjgwMTk5NDI3ODM4LFwidXJpXCI6XCJodHRwczovL3BjYXN0LnBoZW5peHJ0cy5jb21cIixcInR5cGVcIjpcImF1dGhcIixcInJlcXVpcmVkVGFnXCI6XCJjaGFubmVsSWQ6dXMtc291dGh3ZXN0I3BoZW5peHJ0cy5jb20tYm9iLndvaGwjdGVzdDAxLlJMT2N3aDRyOTBPbVwifSJ9&publishtoken=DIGEST:eyJhcHBsaWNhdGlvbklkIjoicGhlbml4cnRzLmNvbS1ib2Iud29obCIsImRpZ2VzdCI6IlY2Q0djQVhSWVVNdXAzWmsrR3dlVUNRR2RkQ044NTU2NzdwbVpFTGtBMXVqcG92Q3pHc05vWHlnQ3BzN3QvRGJ6RmdQMEQydGhKVEFrNzdGaUl3eHZnPT0iLCJ0b2tlbiI6IntcImV4cGlyZXNcIjoxNjgwMTk5NDI3ODM4LFwidXJpXCI6XCJodHRwczovL3BjYXN0LnBoZW5peHJ0cy5jb21cIixcInR5cGVcIjpcInB1Ymxpc2hcIixcImNhcGFiaWxpdGllc1wiOltcInNkXCJdLFwicmVxdWlyZWRUYWdcIjpcImNoYW5uZWxJZDp1cy1zb3V0aHdlc3QjcGhlbml4cnRzLmNvbS1ib2Iud29obCN0ZXN0MDEuUkxPY3doNHI5ME9tXCJ9In0=